extends layout

block content
  link(rel="stylesheet", href="/stylesheets/index.css")
  div#controlRoot
  div#queueRoot
  script(src="/socket.io/socket.io.js")
  script(src="/javascripts/bundles/indexApp.js")
